<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>250967264062-hef0bpslbac8gbu0ch3asnvp8tgjn2fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250967264062-hef0bpslbac8gbu0ch3asnvp8tgjn2fk</string>
	<key>API_KEY</key>
	<string>AIzaSyA8lTc9R3qEZUYa-5aG4M2Vp1FqLC0JePg</string>
	<key>GCM_SENDER_ID</key>
	<string>250967264062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.interaktiv.livvz</string>
	<key>PROJECT_ID</key>
	<string>livvz-mobile-project</string>
	<key>STORAGE_BUCKET</key>
	<string>livvz-mobile-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250967264062:ios:bf340e6aff7368a0</string>
	<key>DATABASE_URL</key>
	<string>https://livvz-mobile-project.firebaseio.com</string>
</dict>
</plist>